{{!-- {{yield}} --}}
<style>
* {
padding: 0;
margin: 0;
}
.container  {
  display: flex;
}
.digitFormatting {
  padding: 20px; 
  border-top: 1px solid #d9d9d9;
  width: inherit;
  text-align: right;
  width: 50%;
 }

 .displayType {
  font-weight: 100;
  padding:25px; 
  width: 50%;
  border-top: 1px solid #d9d9d9;
 }
</style>

<div class="container">
    <p class="displayType">{{@title}}</p>
    <p class="digitFormatting">{{@dynamicValue}}<span class="hide"><input id="due" class="desktopTextbox" type="text"  onblur={{action "dueValue"}}/></span></p> <!-- this.model -->
</div>