{{!-- {{yield}} --}}
{{!-- This is the main Display component that will be used to display some of the data--}}
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
<style>
    #display {
        background-color: #fff;
        font-family: 'Roboto', sans-serif;  
        font-weight: 600;
        font-size: 30px;
        
    }
</style>


<div id="display">
    {{!-- {{#each @people as |person|}} --}}
    <DigitDisplay @title="Due:" @dynamicValue={{this.model}}/>
    <DigitDisplay id="nonEditable" @title="Tip:" />
    <DigitDisplay id="nonEditable"  @title="Total:"/>
    <Keypad @onComfirm={{action "userDidEnterTextinDueField"}}/>
    {{!-- {{/each}} --}}
</div>