{{!-- {{yield}} --}}
{{!-- This is the main Display component that will be used to display some of the data--}}
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
<style>
    #display {
        background-color: #fff;
        font-family: 'Roboto', sans-serif;  
        font-weight: 600;
        font-size: 30px;
        
    }
</style> 

 
<div id="display">

    <DigitDisplay @labelTitle="" @tipField="t0" @title="Due:" @dynamicValue={{this.amount}}/>
    <DigitDisplay @labelTitle="" @tipField="t1" @defaultValue="0.00" @title="Tip:"/>
    <DigitDisplay @labelTitle="" @tipField="t2" id="nonEditable" @defaultValue="0.00"  @title="Total:"/>
    {{keypad callChild1=(action 'set15Percent') callChild2=(action 'set18Percent') callChild3=(action 'set20Percent')}}
    {{!-- <Keypad/> --}}



</div>

