{{!-- {{yield}} --}}
{{!-- This is the main Display component that will be used to display some of the data--}}
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
<style>
    #display {
        background-color: #fff;
        font-family: 'Roboto', sans-serif;  
        font-weight: 600;
        font-size: 30px;
        border-bottom: 1px solid #d9d9d9;
    }
</style>
<div id="display">
    <DigitDisplay/>
    <DigitDisplay/>
    <DigitDisplay/>

</div>