{{!-- {{yield}} --}}
{{!-- This is the main Display component that will be used to display some of the data--}}
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
<style>
    #display {
        background-color: #fff;
        font-family: 'Roboto', sans-serif;  
        font-weight: 600;
        font-size: 30px;
        
    }
</style>


<div id="display">
    

    <DigitDisplay @labelTitle="" @title="Due:" @dynamicValue={{this.amount}}/>
    <DigitDisplay @labelTitle="" id="tipField" @title="Tip:" />
    <DigitDisplay @labelTitle="" id="nonEditable"  @title="Total:"/>
    {{keypad callChild1=(action 'set15Percent') callChild2=(action 'set18Percent') callChild3=(action 'set20Percent')}}
    {{!-- <Keypad/> --}}



</div>

