
/* Mobile first approach for this sample project*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .hide {
    display: none;
  }
  .mobileUI {
    width: 100%;
  }

  /* Mobile button */
  .mobileButton {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    height: 60px;
    width: 100%;
    font-size: 20px;
    color: #fff;
    background-color: #ff1a49;

    border: none;
  }
  .mobileBackgroundColor table tr td{
    background-color: #ff1a49;
  }
  .mobileHideBorder table tr td {
    display: none;
  }
  
}


/* For normal dekstops and laptops*/ 
@media only screen  and (min-width : 1224px) {
    /* Styles */
  .desktopHide {
    display: none!important;
  }
  .desktopSetup {
    padding: 50px;
    background-color: #fff;
  }
  .noBorder{
    border: none;
  }
  /* Table drill in*/
  .desktopSetup table tr td {
    display: none;
  }

  /* Button */
  .desktopRound {
    font-family: 'Lato', sans-serif;
    color: #383838;
    border: 1px solid #d9d9d9;
    border-radius: 9px;
    padding: 10px;
    height: 60px;
    font-size: 24px;
    width: 80%;
    background-color: #fff;
  }


  .desktopUI {
    padding: 80px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .navigationBar {
    font-family: 'Lato', sans-serif;
    background-color: #ff1a49;
    color: #fff;
    padding: 20px;
    font-size: 25px;
  }

  .desktopTextbox {
    border: none;
    border-radius: 9px;
    padding: 10px;
    border: 1px solid #d9d9d9;
    font-size: 25px;
  }
  input:focus {
    outline:none;
}

.smallFont {
  font-size: 20px;
}
.instruction {
  padding: 25px;
  border: 1px solid #d9d9d9;
  border-radius: 11px;
}
.listType {

  text-align: left;
  color: #727272;
  font-family: avenir;
  font-weight: lighter;
  list-style: circle;
}
}
        
/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}