{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

<style>
    * {
        padding: 0; margin: 0;
    }

</style>
<!-- Calculator UI -->
<div class="hide navigationBar">
    Tipie Desktop
</div>
<div class="desktopUI mobileUI">
    <Display-Controller/>
</div>
{{!-- <div class="calculatorUI">
    <Display-Controller/>

    <div style="background-color:#fff; height: auto; border-top: 1px solid #d9d9d9;">
        <Keypad/>
    </div>
</div> --}}



{{outlet}}