{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<style>
    * {
        padding: 0; margin: 0;
    }
</style>
<Display-Controller/>
<Display-Controller/>
<Display-Controller/>
<div style="background-color:#0eac51; height: 40px;">

</div>


{{outlet}}