{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<style>
    * {
        padding: 0; margin: 0;
    }
</style>
<Display-Controller/>

{{!--  KEYBOARD IN THIS AREA --}}
<div style="background-color: red; height: 90px;">
    Main Controller
</div>
<div style="background-color:#fff; height: auto; border-top: 1px solid #d9d9d9;">
   Keyboard control area
</div>


<span>Finally we can begin to write our WebApp</span>

{{outlet}}