{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

<style>
    * {
        padding: 0; margin: 0;
    }

</style>
<!-- THIS IS THE PARENT COMPONENT FOR BOTH DISPLAY AND THE KEYBOARD -->
<!-- Calculator UI -->
<div class="hide navigationBar">
    Tipie Desktop
</div>
<div class="desktopUI mobileUI">
    <Display-Controller/>
    {{!-- <Keypad/> --}}
</div>



{{outlet}}